#.env.example 
# This is an example .env file. Copy this to .env and fill in the values. 

DATABASE_URL=#"mysql://user:password@host:port/database"


DATABASE_USER=# e.g "root"
DATABASE_PASSWORD=# e.g "12345678"
DATABASE_NAME=# e.g "ideaacademy"
DATABASE_HOST=# e.g "localhost"
DATABASE_PORT=# e.g 3306

JWT_ACCESS_SECRET=# e.g "your_access_token_secret"
JWT_REFRESH_SECRET=# e.g "your_refresh_token_secret"